/*
Should return true for the following:

filesystem
cors
objectfit
datauri
userdata
json
quotamanagement
dataworkers
*/

.filesystem .header {
  background: red;
}

.cors .nav {
  color: yellow;
}

.json.no-objectfit {
  width: 0;
}

.no-userdata.datauri,
.no-quotamanagement.no-dataworkers {
  color: green;
}
