/*
NOTE: the prefix is 'mod'

Should return true for the following:

csstransitions
history
scriptasync
mediaqueries
csstransforms3d
gamepads

Not:

someotherthing
geolocation
borderimage
*/

.mod-csstransitions {
  background: red;
}

.mod-history .mod-someotherthing {
  color: yellow;
}

.mod-no-scriptasync,
.mod-no-mediaqueries {
  height: 1px;
}

.geolocation.mod-csstransforms3d {
  color: green;
}

.mod-no-gamepads.borderimage {
  color: yellow;
}
