/*
Should return true for the following:

csstransitions
history
cssgradients
touchevents
geolocation
webgl
flexbox
borderimage
*/

.csstransitions {
  background: transparent;
}

.history .nav {
  color: yellow;
}

.no-cssgradients,
.no-touchevents {
  height: 1px;
}

.geolocation.webgl {
  color: black;
}

.no-flexbox.borderimage {
  color: black;
}
